<div class="flex justify-center items-center flex-col h-full font-sans text-center text-white leading-snug ">
    <h1 class="text-4xl md:text-7xl font-bold">workSync</h1>
    <h2 class="text-lg md:text-3xl font-semibold mt-2 md:mt-4">Sync, Simplify, Succeed - That's WorkSync.</h2>
    <h3 class="text-lg md:text-3xl font-semibold animate-pulse mt-2">Connect With Us.</h3>
    <span>
        <button class="px-4 py-2 text-base mt-3 md:text-lg bg-blue-500 text-white rounded-full hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
            Learn more.
        </button>
    </span>
</div>
