<div class="w-screen min-h-screen px-[10%] py-[4%] bg-green-500 flex flex-col justify-center items-center">

    <div class="bg-blue-950 w-[100%] flex flex-1 flex-row">

        <div class= "hidden sm:block sm:3/6 lg:w-2/6 bg-red-500">
            hl
        </div>

        <div class="w-full lg:w-4/6 md:3/6 bg-white flex justify-center ">
            <div>
                <h1>hey welcome back !!!</h1>
                <div>
                    <label for=""></label>
                </div>
            </div>            
        </div>

    </div>

</div>
