<div class=" md:w-[270px] rounded-tr-[45px]  min-h-screen flex flex-col shadow-2xl gap-8 text-[#76839A]">
    <div > <h1 class="font-sans font-bold text-2xl px-5 mt-10 text- text-black">"COMPANY NAME"</h1> </div>
    <div class="flex-1 white  bg-red flex flex-col pr-2">
        <input type="" placeholder="Search" class="search-in-toolbar bg-white shadow-2xl self-center " >
        <button [routerLink]="['employee']" class="bg-blue-950 text-left h-10 rounded-r-3xl mt-3 pl-14">  Employees</button>
    </div>
</div>
